.map-container {
  height: 95vh;
  width: 100%;
}

.office-location {
  color: #71cdda;
  font-size: 3rem;
  z-index: 1000;
}

.car-icon {
  font-size: 50px;
  z-index: 1000;
}

.available {
  color: rgb(6, 141, 13);
}

.busy {
  color: rgb(221, 19, 19);
}
